.services {
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 90vh;
    margin-top: 9rem;
    margin-bottom: 13rem;
}

.awesome {
    display: flex;
    flex-direction: column;
    position: relative;
}

.awesome>:nth-child(1) {
    color: black;
    font-size: 2.5rem;
    font-weight: bold;
}

.awesome>:nth-child(2) {
    color: orange;
    font-size: 2.5rem;
    font-weight: bold;
}

.awesome>:nth-child(3) {
    font-size: 0.6rem;
}

.s-button {
    width: 8rem;
    height: 2rem;
    margin-top: 1rem;
}

.cards {
    position: relative;
}

.cards>* {
    position: absolute;
}